html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.left {
  float: left !important;
}

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

.header {
  background: #5ec7d4;
}

.header .brand h3 {
  font-weight: 300;
  font-style: italic;
  color: #fff;
  margin: 1.35rem 0;
  line-height: 1;
  font-size: 1.5rem;
}

.header .brand h3 a {
  color: #fff;
}

.header .brand h3 a:hover {
  color: #dcf394;
}

.menu {
  float: right;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  float: left;
}

.menu ul li a {
  margin: 1.73rem 0 1.73rem 2rem;
  display: block;
  color: #fff;
  line-height: 1;
}

.titleSection h3 {
  text-align: center;
  color: rgb(180, 179, 179);
  margin: 20px;
  text-shadow: 1px 1px 1px whitesmoke;
}

.titleSelection {
  background-color: white;
}

#topicSection {
  height: 400px;
  background-color: #dcf394;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.item {
  float: left;
}
.card {
  background: lightgrey;
  border: 3px solid whitesmoke;
  width: 300px;
  height: 250px;
  margin: 10px;
  padding-top: 50px;
  text-align: center;
}

.card h2 {
  color: white;
  text-shadow: 1px 1px 1px darkgray;
}

img {
  width: 200px;
  border: 2px solid #808080;
  margin-bottom: 20px;
}

#moreSources {
  background: #5ec7d4;
  padding: 5rem 0;
  text-align: right;
}

#moreSources h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3.375rem;
  margin: 0rem;
}
#moreSources h4 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#moreSources .button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  background: #fff;
  color: #5ec7d4;
  border: 2px solid #fff;
  border-radius: 3px;
}

#moreSources .outline {
  background: transparent;
  color: #fff;
}
#moreSources button:hover {
  background: #808080;
  border: 1px solid #808080;
  color: #fff;
}

.sources {
  margin-left: 0;
}

.footer {
  background-color: #dcf394;
  padding: 40px;
  text-align: center;
}

.footer a {
  color: #808080;
}
