body {
  text-align: center;
  font-family: "Comic Sans MS";
  background-color: antiquewhite;
}

button {
  margin-top: 200px;
  height: 80px;
  width: 120px;
  font: bold;
  font-size: 40px;
  color: rgb(124, 209, 98);
  text-shadow: 1px 1px 0.5px forestgreen;
  background-color: rgb(170, 241, 148);
  box-shadow: 1px 2px 2px forestgreen;
  border-radius: 15px;
}
