body {
  font-family: "Georgia";
  background-color: #f7fff0;
  text-align: left;
}

h1 {
  margin-top: 100px;
  margin-left: 120px;
  margin-bottom: 100px;
  font-size: 60px;
  color: #2275c4;
  text-shadow: 2px 1px #15355f;
}

span {
  font-size: 36px;
  color: rgb(5, 7, 68);
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: rgb(5, 7, 68);
  font-size: 36px;
}

.linkDiv {
  margin-left: 120px;
}
